.myheader {
  background: #e5e5e5;
  height: 150px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  flex-direction: row;
}
.logo {
  padding: 30px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
}
.logo {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .myheader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
}
