.myheader {
  background: #e5e5e5;
  background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  background-color: #bdd28f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
