@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  box-sizing: border-box;
}

.profile {
  display: grid;
  grid-template-columns: 20% 80%;
}
.profile-feed {
  grid-column-start: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  background-color: #1e1e1e;
  font-family: Montserrat, sans-serif;
  min-height: 100vh;
  margin: 0;
}

.user-profile {
  margin: 10px 0;
}

.location-profile {
  margin: 5px 0;
  text-transform: uppercase;
}

.skill-profile {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  margin: 10px;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #c5c5c5;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  position: relative;
}

.picture-profile {
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: fill;
}

button.primary {
  background-color: #e0e0e0;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  color: #1d1d1d;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  margin: 5px;
}

button.primary.ghost {
  background-color: transparent;
  color: #ffffff;
}

button.primary:hover {
  cursor: pointer;
}
.skills {
  background-color: #242424;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  text-wrap: wrap;
  overflow: auto;
  min-height: 250px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 10px;
  justify-content: space-around;
}

.skills ul li {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #000000;
  height: 50px;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}
.error {
  color: red;
}
@media only screen and (max-width: 1000px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .card-container {
    width: 250px;
  }
}
