.card {
  width: 800px;
  height: 700px;
  margin: 20px;
}

.cardSections {
  background-color: black;
  width: 100%;
  height: 100px;
}

.imgCon-card {
  width: 100%;
  height: 500px;
  background-color: rgb(56, 56, 56);
}

.imgCard {
  height: inherit;
  width: inherit;
  object-fit: contain;
}

.cardTop {
  display: flex;
  justify-content: center;
}

.cardTitle {
  color: white;
  padding: 20px;
  font-size: 130%;
}

@media only screen and (max-width: 900px) {
  .card {
    width: 100%;
    height: 400px;
  }
  .imgCon-card {
    height: 90%;
  }
}
