.header {
    background: #E5E5E5;
    background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    background-color: #bdd28f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}