.profile-post {
  object-fit: cover;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.671) 0px 2px 8px 0px;
  position: relative;
}

.profile-post-con {
  margin: 10px;
  width: 20%;
  height: 400px;
  position: relative;
}

.post-extra {
  display: none;
  top: 0;
  border-radius: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  transition: all 0.2s ease-in-out;
}
.profile-post-con:hover {
  cursor: pointer;
}
.profile-post-con:hover .post-extra {
  display: block;
}

.profile-post-title {
  color: white;
  margin: 20px;
  font-size: 200%;
}

.profile-post-desc {
  color: white;
  padding: 10px;
}

.postBtns {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.postBtn {
  font-weight: bolder;

  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
}

.postDelete {
  background-color: red;
}

.postEdit {
  background-color: green;
}

@media only screen and (max-width: 1000px) {
  .profile-post-con {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .profile-post-con {
    width: 80%;
  }
}
